<div class="container">
<div class="row">
<div class="col-md-12">
<h1>Editing Micropost</h1>

<%= render 'form' %>
<div>
<%= link_to 'Cancel', @micropost, :class => "btn btn-primary btn-sm active" %>
</div>
<div>
<%= link_to 'Back', microposts_path, :class => "btn btn-primary btn-sm active" %>
</div>

</div>
</div>
</div>