
<div class="container">
<div class="row">
<div class="col-md-12">
	<div>
	<h0 name="contacted" id="contacted"></h0>
	<p class="title-header">Contacted</p>
	</div>
	<div>
		
        <ul>
          
          <li>
             <%= link_to image_tag("twitter.png", size: "50x50",alt: "@sonia_here"),
                '@sonia_here' %>
          </li>
         <li> <%= link_to image_tag("linkedin.png", size: "50x50", alt: "caansonia"),
                'https://ca.linkedin.com/in/caansonia' %>
          </li>
          <li><%= link_to image_tag("instagram.png", size: "50x50", alt: "soniacaan"),
                'https://www.instagram.com/soniacaan/' %>
          </li>
          
          </li>
          <li><a href="http://news.railstutorial.org/">News</a>
          </li>
		  </ul>
	</div>
</div>
</div>
</div>
